<main class="input-container">
    <header class="input-header">
        <h2>{{Survey_Results.survey_title}}_Result </h2>
    </header>

    <section class="inputs">
        <ul>
            {{!-- {{#each Survey_Results}} --}}
            <li>
                Question : {{Survey_Results.survey_questions}}
                <div>True: {{Survey_Results.trueConunt}}</div>
                <div>False: {{Survey_Results.falseConunt}}</div>
            </li>
            <hr>
            {{!-- {{/each}} --}}
        </ul>
        <div>Total Number of Responses:{{Survey_Results.resultCount}} </div>
    </section>
</main>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>